{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}
    Drug - List
{% endblock %}

{% block custom_css %}

{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1> staff index section</h1>
    <hr>
    <a href="{% url 'add-staff' %}" class="btn btn-primary"><i class="fa-solid fa-plus"></i>Add</a>
    <hr>


    <table class="table table-info table-striped-columns table-hover">
        <thead>
          <tr>
            <th scope="col">S.N</th>
            <th scope="col">Name</th>
            <th scope="col">Duty Ward</th>
            <th scope="col">Shift Time</th>
            <th scope="col">Status</th>
            <th scope="col">Contact</th>
            
            <th colspan="3">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><a href=""><i class="fa-solid fa-pencil"></i></a></td>
            <td><a href=""><i class="fa-solid fa-eye"></i></a></td>
            <td><a href=""><i class="fa-solid fa-trash"></i></a></td>
          </tr>

        </tbody>
      </table>



    </div>

{% endblock %}