{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}
    Drug - Add
{% endblock %}

{% block custom_css %}

{% endblock %}

{% block content %}
<div class="container mt-5">

    <h1> This is the drug add page list</h1>
    <a href="{% url 'drug-index' %}" class="btn btn-primary">BACK</a>

    <div class="row">

        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form action="{% url 'add-drug' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" class="btn btn-primary" value="CREATE">
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}