{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}
    Drug - List
{% endblock %}

{% block custom_css %}

{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1> Drug index section</h1>
    <hr>
    <a href="{% url 'add-drug' %}" class="btn btn-primary"><i class="fa-solid fa-plus"></i>Add</a>
    <hr>

    <style>
      * {
        box-sizing: border-box;
      }
      #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
      }
      
      #myTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
      }
      
      #myTable th, #myTable td {
        text-align: left;
        padding: 12px;
      }
      
      #myTable tr {
        border-bottom: 1px solid #ddd;
      }
      
      #myTable tr.header, #myTable tr:hover {
        background-color: #f1f1f1;
      }
      </style>
     
      
     <div class="container mt-5">

      {% include "partials/_message.html" %}
  
  </div>
 

  <div class="body">
    <div class="list">
      <h2>Medicine list</h2>
    </div>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
      
      <table id="myTable" class="table">
        <thead>
        <tr class="header">
          <th scope="col" style="text-align: center">S.N</th>
          <th scope="col" style="text-align: center">Details</th>
          <th scope="col" style="text-align: center">Supplier</th>
          <th scope="col" style="text-align: center">Total Qty</th>
          <th scope="col" style="text-align: center">Unit Price</th>
          <th scope="col" style="text-align: center">Total Amount</th>
          <th scope="col" style="text-align: center">Selling Price</th>
          <th scope="col" style="text-align: center">Paid</th>
          <th scope="col" style="text-align: center">Due</th>
          <th scope="col" style="text-align: center">Expiry</th>
          <th colspan="3" style="text-align: center">Action</th>
        </tr>
      </thead>
      <!-- /.Row from DB-->
      <tbody>   
        {% for val in data %}
        <tr>
          <td style="text-align: center">{{ forloop.counter }}</td>
          <td style="text-align: left">
            <b>Medicine:</b>{{val.name}} <br />
            <!-- {%for val in dat %}
            <b>Generic:</b> {{val.generic_name}}<br />
            {%endfor%} -->
            <b>Presentation:</b> {{val.tablet}}<br />
            <b>Volume:</b> Pcs <br />
          </td>
    
          <td style="text-align: center">{{val.specification}}.</td>
          <td style="text-align: center">{{val.cost}}</td>
          <td style="text-align: center"></td>
          <td style="text-align: center"></td>
          <td style="text-align: center"></td>
          <td style="text-align: center"></td>
          <td style="text-align: center">{{val.availability}}</td>
          <td style="text-align: center"></td>
          <td style="text-align: center">
            <a style="margin: 5px" title="Update" href="http://localhost/pharmacy-management-ci/ShowForm/edit_purchase_info/10">
              <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a
              style="margin: 5px"
              title="Delete"
              href="http://localhost/pharmacy-management-ci/Delete/medicine_purchase_info/10"
            >
              <span class="fa fa-trash" style="color: crimson"></span>
            </a>
          </td>
        </tr>
        {% endfor %}

       
        
        <!--									// foreach-->
      </tbody>
    </table>

    <script>
      function myFunction() {
        var input, filter, table,thead, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];

  
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }       
        }
      }
      </script>





    
  </div>
</div>

{% endblock %}
