{% extends 'layouts/main.html' %} {% load static %} {% block title %} Change
Password {% endblock %} {% block custom_css %} {% endblock %} {% block content
%}

<div class="container form">
  <form action="" method="post" class="form" id="form">
    {% csrf_token %}

    <h2>Change Password</h2>

    {% include 'partials/_message.html' %}

    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" name="new_password" id="" />
      </div>


      <div class="form-group">
      <label for="reconfirm_password">Re Confirm Password</label>
      <input type="text" class="form-control" name="reconfirm_password" />
    </div>
    <input type="hidden" name="user_id" value="{{user_id}}" />

    <button class="btn" type="submit">submit</button>
  </form>
</div>

{% endblock %}
