{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}
    Change Password
{% endblock %}

{% block custom_css %}

{% endblock %}

{%  block content %}


<div class="container form">
    <form action="#" method="post" class="form" id="form">
        {% csrf_token %}
          
    
    <h2>Change Password</h2>

    {% if messages %}

    {% for message in messages %}
        <div class="alert alert-info">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <div class="form-group">

       
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="">
    <label for="confirm_password">Re Confirm Password</label>
    <input type="password" class="form-control" name="confirm_password">

    <button class="btn" type="submit">submit</button>
</div>
</form>
</div>


{% endblock  %}