{% extends 'layouts/main.html' %} 
{% load static %} 

<!-- block for title  -->

{% block title %} 
    Change Password 
{% endblock %} 

<!-- block for custom css -->

{% block custom_css %} 

{% endblock %} 


<!-- body content starts here -->
{% block content %}


<div class="container" mt-5 mb-5>

    <!-- message for to dispay the messagess -->
    {% include 'partials/_message.html' %}

    
<h1> Change Password </h1>
<br><br>

<div class="form-group">
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Change Password</button>
        <ul>
            <li> This password is too </li>
            <li>short. It must contain at least 8 characters.</li> 
            <li>This password is too common.</li>
            <li>This password is entirely numeric.</li>
            
            
        </ul>
    </form>
</div>
</div>
{% endblock %}