{% extends 'layouts/master.html' %}
{% load static %}


{% block custom_css %}

{% endblock %}

{% block content %}

<h1>You Are Logged In ! </h1>







<div class="header-fluid top-header-new">
    <div class="container">
        <div class="header-content clearfix">
            <div class="logo-block">
                <h1><a href=""><img src=""  alt="Norvic International Hospital"></a></h1>
                <div class="certified-logo clearfix">
                    <img src="https://www.norvichospital.com/frontend/images/certi-logo-1.png" alt="ISO">
                    <img src="https://www.norvichospital.com/frontend/images/certi-logo-2.png" alt="NABL">
                </div>
            </div><!-- ends logo-block -->
            <div class="header-info clearfix">
                <div class="header-info-second clearfix">
                    <div class="appointment-contact">
                        <div class="shedule-block">

                            <div class="dropdown schedule-dropdown"><a href="https://www.norvichospital.com/schedule-an-appointment"
                                                                       class="dropdown-toggle"
                                                                       data-toggle="dropdown"><span><img
                                                src="https://www.norvichospital.com/frontend/images/icon-shedule.png"
                                                alt="appointment"></span>
                                    Book an Appointment</a>
                                <ul class="dropdown-menu">

                                    <li>
                                        <a href="https://appointment.norvichospital.com/IME/Request%20App/frmVisaAppointment-aus.aspx">Immigration
                                            Medical Examination (Australia)</a></li>

                                    <li>
                                        <a href="https://appointment.norvichospital.com/IME/Request%20App/frmVisaAppointment-nz.aspx">Immigration
                                            Medical Examination (New Zealand)</a></li>

                                    <li><a href="https://www.norvichospital.com/doctors">Hospital Appointment</a></li>

                                </ul>
                            </div>

                        </div>
                        <div class="touch-us">

                            

                            <a href="https://www.norvichospital.com/contact-us"><i class="fa fa-envelope"></i> Contact Us</a>
                        </div>

                        
                    </div>
                    <div class="emergency-lifeline">
                        <div class="emergency-block lifeline">
                            <label>Hospital No.</label>
                            <a href="tel:+977 1-5970032"><p>+977 1-5970032</p></a>

                        </div>
                        <img class="hour-img" src="" alt="Hour Icon">
                        <div class="emergency-block">
                            <label>EMERGENCY 24/7</label>
                            
                                <a href="tel:01-5911623">01-5911623</a>

                                                        </div>
                    </div>
                </div><!-- ends header-info-second -->
            </div><!-- ends header-info -->

{% endblock %}

