{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}
    Forgot Password
{% endblock %}

{% block custom_css %}

{% endblock %}

{%  block content %}

<div class="container">
    <form action="{% url 'forgot-password' %}" class="form" id="form" method="post">
        {%csrf_token%}
    <h4>Forgot Password</h4>

   {% include 'partials/_message.html' %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="" class="form-control">
        </div>
        <button class="btn" type="submit" >submit</button>
    </form>
</div>

{% endblock %}