{% extends 'layouts/main.html' %}

{% load static %}

{% block title %}
    Our Services
{% endblock %}

{% block custom_css %}

{% endblock %}


{% block content %}
 <form class="d-flex mt-5" method="get" >
          
    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
          <div class="searchbar">
              <input class="search_input" type="text" name="query" id="query"  placeholder="Search...">

              <input class="search_input" type="submit" value="search">

              
              {% comment %} <button type="submit" class="search_icon" ><i class="fas fa-search"></i></button> {% endcomment %}
              
          </div>
      </div>
  </div>
  </form>

<div class="card-columns mx-3 mt-5 mb-5">
 
  {% for post in post %}
    <div class="card">
      
      <img src="{{post.image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.desc}}</p>
        <p class="card-text"><small class="text-muted">{{post.last_updated_time}}</small></p>
      </div>
    </div>
    {% empty%}
    No record found
{% endfor %}
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if post.has_previous %}
      <li class="page-item">
        <a class="page-link" href="/service-index/?page=1" tabindex="-1" aria-disabled="true">First</a>
      </li>
      <li class="page-item ">
        <a class="page-link" href="/service-index/?page={{post.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      {% endif %}
      {% for n in totalPageList %}
      <li class="page-item"><a class="page-link" href="/service-index/?page={{n}}">{{n}}</a></li>
  
      {% endfor %}
      {%if post.has_next%}
      
      <li class="page-item">
        <a class="page-link" href="/service-index/?page={{post.next_page_number}}">Next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/service-index/?page={{lastpage}}">Last</a>
      </li>
      {%endif%}
    </ul>
  </nav>
{% endblock %}