{% extends 'layouts/main.html' %} {% load static %} {% block title %} Add -
Patient {% endblock %} {% block custom_css %} {% endblock %} {% block content %}
<style>
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: 0.75em;
    padding-right: 0.75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }
</style>

<div class="container mt-5">
  <h1>Patient Add section</h1>
  <hr />
  <a href="{% url 'patient-index' %}" class="btn btn-primary"
    ><i class="fa-solid fa-plus"></i>Back</a
  >
  <hr />

  <div class="row">
    <form action="{% url 'patient-add' %}" method="post">
      {% csrf_token %}
{{form.as_p}}
      <!-- <section class="h-100 bg-dark">
        <div class="container py-5 h-100">
          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <div class="col">
              <div class="card card-registration my-4">
                <div class="row g-0">
                  <div class="col-xl-6 d-none d-xl-block">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                      alt="Sample photo"
                      class="img-fluid"
                      style="
                        border-top-left-radius: 0.25rem;
                        border-bottom-left-radius: 0.25rem;
                      "
                    />
                  </div>
                  <div class="col-xl-6">
                    <div class="card-body p-md-5 text-black">
                      <h3 class="mb-5 text-uppercase">
                        Patient Add Form
                      </h3>

                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input
                              type="text"
                              id="form3Example1m"
                              class="form-control form-control-lg"
                             name="patient_name" value="{{data.patient_name}}"/>
                            <label class="form-label" for="form3Example1m"
                              >Patient Name</label
                            >
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input
                              type="number"
                              id="form3Example1n"
                              class="form-control form-control-lg" name="patient_contact" value="{{data.patient_contact}}"
                            />
                            <label class="form-label" for="form3Example1n"
                              >Patient Contact</label
                            >
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input
                              type="text"
                              id="form3Example1m1"
                              class="form-control form-control-lg"  name="patient_address" value="{{data.patient_address}}"
                            />
                            <label class="form-label" for="form3Example1m1"
                              >Patient Address</label
                            >
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input
                              type="text"
                              id="form3Example1n1"
                              class="form-control form-control-lg" name="patients_doctor" value="{{data.patients_doctor}}"
                            />
                            <label class="form-label" for="form3Example1n1"
                              >Patient's Doctor</label
                            >
                          </div>
                        </div>
                      </div>

                      <div class="form-outline mb-4">
                        <input
                          type="date"
                          id="form3Example8"
                          class="form-control form-control-lg" name="patient_admit_date " value="{{data.patient_admit_date}}"
                        />
                        <label class="form-label" for="form3Example8"
                          >Patient Admit Date</label
                        >
                      </div>


                      <div class="form-outline mb-4">
                        <input
                          type="date"
                          id="form3Example9"
                          class="form-control form-control-lg" name="patient_release_date" value="{{data.patient_release_date}}"
                        />
                        <label class="form-label" for="form3Example9"
                          >Patient Release Date</label
                        >
                      </div>

                      <div class="form-outline mb-4">
                        <input
                          type="text"
                          id="form3Example90"
                          class="form-control form-control-lg" name="patient_days_spent" value="{{data.patient_days_spent}}"
                        />
                        <label class="form-label" for="form3Example90"
                          >Patient Days Spent</label
                        >
                      </div>

                      <div class="form-outline mb-4">
                        <input
                          type="number"
                          id="form3Example99"
                          class="form-control form-control-lg" name="patient_age" value="{{data.patient_age}}"
                        />
                        <label class="form-label" for="form3Example99"
                          >Patient Age</label
                        >
                      </div>

                      <div class="form-outline mb-4">
                        <input
                          type="text"
                          id="form3Example97"
                          class="form-control form-control-lg" name="patient_last_visit" value="{{data.patient_last_visit}}"
                        />
                        <label class="form-label" for="form3Example97"
                          >Patient Last Visit</label
                        >
                      </div>

                      <div class="form-outline mb-4">
                        <input
                          type="text"
                          id="form3Example97"
                          class="form-control form-control-lg" name="patient_status" value="{{data.patient_status}}"
                        />
                        <label class="form-label" for="form3Example97"
                          >Patient Status</label
                        >
                      </div>

                      <div class="form-outline mb-4">
                        <input
                          type="text"
                          id="form3Example97"
                          class="form-control form-control-lg" name="patient_diease_symptoms" value="{{data.patient_diease_symptoms}}"
                        />
                        <label class="form-label" for="form3Example97"
                          >Patient Diease Symptoms</label
                        >
                      </div>

                      <div class="d-flex justify-content-end pt-3">
                        <button type="button" class="btn btn-light btn-lg">
                          Reset all
                        </button>
                        <button
                          type="submit"
                          class="btn btn-warning btn-lg ms-2"
                        >
                          SUBMIT
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
   
   <input type="submit" value="Submit">
    </form>
  </div>
</div>

{%endblock%}
