{% extends 'layouts/main.html' %}
{% load static %}

{% block title %}
    Book - Appointment
{% endblock %}

{% block custom_css %}
    
<link rel="stylesheet" href="{% static 'css/book_appointment.css' %}">
{% endblock %}

{% block content %}


<!-- ======= Appointment Section ======= -->
<section id="appointment" class="appointment section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title mt-5">
        <h2 style="text-align: center;text-decoration: underline;">Make an Appointment</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <form action="" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
        {% csrf_token %}
        
      
        <div class="row">
          <input type="hidden" name="id" value="{{ data.id }}" />
          <div class="col-md-4 form-group">
            <input type="text" name="full_name" class="form-control" id="name" placeholder="Your Name" value="{{ data.full_name }}" required>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"  value="{{ data.email }}" required>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="tel" class="form-control" name="contact" id="phone" placeholder="Your Phone" value="{{ data.contact }}" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group mt-3">
            <input type="datetime" name="appointment_date" class="form-control datepicker" id="date" placeholder="Appointment Date" value="{{data.appointment_date}}" required>
          </div>
          <div class="col-md-4 form-group mt-3">
            <label >Select Department</label>
            <select name="department" id="department" class="form-select">
              {% for val in department %}
              <option value="{{ val.id}}">{{val.department_name}}</option>
              {% endfor %}

            </select>
          </div>
          <div class="col-md-4 form-group mt-3">
            <label>Select Doctor</label>
            <select name="select_doctor" id="doctor" class="form-select">
              {% for val in addDoctor %}
              <option value="{{val.id}}">{{ val.name}}</option>
              {% endfor %}

            </select>
          </div>
        </div>

        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)">{{data.mesaage}}</textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Make an Appointment</button></div>
      
      </form>

    </div>
  </section><!-- End Appointment Section -->



{% endblock %}